body {
    background-color: black;
    color: #00ff99;
    font-family: Courier New, monospace;
    padding: 20px;
}

h1 {
    color: cyan;
    text-align: center;
}

a {
    color: #00ff00;
    text-decoration: none;
}

a:hover {
    color: yellow;
    text-decoration: underline;
}

hr {
    border: 1px dashed gray;
}